@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.blackscreen {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  background-color: black;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0;
}

.container-text-title {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  color: #e83273;
}

.container-text-title-strong {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  color: white;
}

.container-text-info {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 38px;
  color: white;
  width: 23rem;
  line-height: 48px;
}

.container-text-small {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.container-button {
  color: white;
  background-color: #fd377e;
  padding: 13px 20px;
  width: 14rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.container-button:hover {
  box-shadow: 0px 0px 10px 5px rgba(253, 55, 126, 0.75);
}

.nukenzie-logo {
  width: 19rem;
  margin: 9rem auto;
  transform: scale(1.5);
}
