@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.btn-option {
  cursor: pointer;
  color: #5b6166;
  background-color: #e9ecef;
  border: none;
  border-radius: 10px;
  padding: 15px;
  transition: 300ms ease-in-out;
  font-weight: 700;
}

.btn-option:hover {
  background-color: #4c4c4d;
  color: #fefeff;
}

.selected {
  cursor: pointer;
  color: white;
  background-color: #fd377e;
  border: none;
  border-radius: 10px;
  padding: 15px;
  transition: 300ms ease-in-out;
  font-weight: 700;
}

.selected:hover {
  background-color: #af0040;
  color: #fefeff;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-container > span {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #212529;
  font-size: 16px;
}

.buttons {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .buttons {
    width: 100%;
    margin: 1rem 0;
    flex-direction: column;
    gap: 0.5rem;
  }
  .filter-container {
    flex-direction: column;
  }
}
